body {
  font: 14px Arial;
  background: #e9e9e9;
  padding: 0;
  margin: 0;
}

pre {
  padding: 10px 10px 10px 20px;
  border: 1px solid #767ba7;
  background: #e3e5f3;
  border-radius: 10px;
  overflow: auto;
}

pre code {
  color: #000;
  font-weight: bold;
}

pre.delta code {
  color: #767ba7;
  font-weight: normal;
}

pre code em {
  font-style: normal;
  color: #000;
  font-weight: bold;
}

pre code cite {
  font-weight: normal;
}

#wrap {
  width: 750px;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 30px;
  -webkit-box-shadow: 0 1px 4px #aaa;
  background: #fff;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.bordered {
  -webkit-box-shadow: 0 1px 3px #999;
  border: 1px solid #999;
}

.icontable {
  margin: 0 auto;
}
.icontable td, .icontable th {
  text-align: center;
  padding: 5px 20px;
}

.shortlink {
  position: fixed;
  right: 10px;
  top: 10px;
  border: 2px solid #0d0;
  background: #afa;
  border-radius: 20px;
  font: 26px Arial;
  padding: 10px;
  color: #000;
  text-decoration: none;
}